 h1{

color: ;
font-family:justify;
background-color: black ;
font-size: 50px;
text-align: center;

p{
color:black;
font-family:justify;
background: fixed;
font-size:30px;
text-align: center;
line-height: 60px;